*{
	box-sizing: border-box;
}


body{
	margin: 0px;
}
.A{
	background:linear-gradient(45deg, #1D6AEF, #19CBFB);
	height: 220px;
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	color: white;
	margin-bottom: 50px;
	text-align: center;
	}

.B {
	padding: 40px;																																																																																																									 	 
}
.a {
	text-align: center;
	font-size: 15px;
	display: inline-block;
																																																																																																										 	 
}

.container{
	text-align: center;
}

#a1{
	margin-right: 40px;
}

#a3{
	margin-left: 40px;
}



#yo a{
	color: white;
	text-decoration: none;
}

#pro {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.p1{
	width: 200px;
	height: 200px;
	margin-right: 60px;
	display: inline-block;
}

.project-img{
	width: 100%;
}

#last{
	margin-right: 0;
}
a{
	color: white;
	text-decoration: none;
}

